<form [formGroup]="datosUsuario" (ngSubmit)="postMethod()" class="w-50 mx-auto mt-5">
  <div class="mb-3 d-flex align-items-center">
    <a routerLink="../home" class="text-dark">
      <fa-icon [icon]="iconLeft" class="fa-2x me-2"></fa-icon>
    </a>
  </div>
  <div class="form-group">
    <label for="exampleInputTitle">Title</label>
    <input type="text" class="form-control" id="exampleInputTitle" formControlName="title" placeholder="Enter title">
    <span class="danger" *ngIf="datosUsuario.get('title')!.invalid && datosUsuario.get('title')!.touched">La Identificación es <strong>Obligatoria</strong></span>
  </div>
  <div class="form-group">
    <label for="exampleInputPrice">Price</label>
    <input type="number" class="form-control" id="exampleInputPrice" formControlName="price" placeholder="Price">
    <span class="danger" *ngIf="datosUsuario.get('price')!.invalid && datosUsuario.get('price')!.touched">La Identificación es <strong>Obligatoria</strong></span>
  </div>
  <div class="form-group">
    <label for="exampleInputDescription">Description</label>
    <input type="text" class="form-control" id="exampleInputDescription" formControlName="description" placeholder="Description">
    <span class="danger" *ngIf="datosUsuario.get('description')!.invalid && datosUsuario.get('description')!.touched">La Identificación es <strong>Obligatoria</strong></span>
  </div>
  <div class="form-group">
    <label for="exampleInputImages">Images</label>
    <input type="text" class="form-control" id="exampleInputImages" formControlName="images" placeholder="Url de la imagen">
    <span class="danger" *ngIf="datosUsuario.get('images')!.invalid && datosUsuario.get('images')!.touched">La Identificación es <strong>Obligatoria</strong></span>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" [disabled]="datosUsuario.invalid">Submit</button>
</form>